In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [3]:
from sklearn import datasets
iris = datasets.load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

In [36]:
df=df.head(2)
df

   sepal length (cm) sepal width (cm)  petal length (cm) petal width (cm)
0                5.1             <NA>                NaN             None
1                4.9             <NA>                NaN             None

In [32]:
df['sepal width (cm)']=None
for x in df['sepal width (cm)']:
    print("python:None:", x is None)
    print("pd.isna:",pd.isna(x))
    print("math.isnan:",math.isnan(x))
    print("np.isnan:",np.isnan(x))

python:None: True
pd.isna: True

TypeError: must be real number, not NoneType

In [47]:
# pd.isna()对矩阵数据进行全盘的判断，能够判断任何形式的null值
# 结合all，any，sum等聚合性判断函数进行汇总判断，其中axis=1为横向
df.isna().all(axis=1)
df.isna().sum(axis=0)
df['sepal width (cm)'].isna()

0    True
1    True
Name: sepal width (cm), dtype: bool

In [34]:
df['petal length (cm)']=np.nan
for x in df['petal length (cm)']:
    print("python:None:", x is None)
    print("np.isnan:",np.isnan(x))
    print("pd.isna:",pd.isna(x))
    print("math.isnan:",math.isnan(x))

python:None: False
np.isnan: True
pd.isna: True
math.isnan: True
python:None: False
np.isnan: True
pd.isna: True
math.isnan: True

In [35]:
df['sepal width (cm)']=pd.NA
for x in df['sepal width (cm)']:
    print("python:None:", x is None)
    print("np.isnan:",np.isnan(x))
    print("pd.isna:",pd.isna(x))
    print("math.isnan:",math.isnan(x))

python:None: False
np.isnan: <NA>
pd.isna: True

TypeError: must be real number, not NAType

In [37]:
df['sepal length (cm)']=float('nan')
for x in df['sepal length (cm)']:
    print("python:None:", x is None)
    print("np.isnan:",np.isnan(x))
    print("pd.isna:",pd.isna(x))
    print("math.isnan:",math.isnan(x))

python:None: False
np.isnan: True
pd.isna: True
math.isnan: True
python:None: False
np.isnan: True
pd.isna: True
math.isnan: True

In [8]:
import math
# None
var_none = None
print(var_none is None)  # True
# np.nan
var_np_nan = np.nan
print(np.isnan(var_np_nan))  # True
# pandas.NA
var_pd_na = pd.NA
print(pd.isna(var_pd_na))  # True
# float('nan')
var_float_nan = float('nan')
print(math.isnan(var_float_nan))  # True

True
True
True
True

In [5]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm) petal width (cm)
0                5.1               3.5                1.4             None
1                4.9               3.0                1.4             None
2                4.7               3.2                1.3             None
3                4.6               3.1                1.5             None
4                5.0               3.6                1.4             None

使用.query()方法

In [8]:
df.query('`sepal length (cm)` >6')

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
50                 7.0               3.2                4.7               1.4
51                 6.4               3.2                4.5               1.5
52                 6.9               3.1                4.9               1.5
54                 6.5               2.8                4.6               1.5
56                 6.3               3.3                4.7               1.6
..                 ...               ...                ...               ...
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3

[61 rows x 4 columns]

使用.select_dtypes()选择特定数据类型的列

In [10]:
df.select_dtypes(include=['int64'])  # 选择数据类型为float64或int64的列

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[150 rows x 0 columns]

7. 使用.filter()方法选择列

In [11]:
df.filter(like='width', axis=1)  # 选择列名包含'col'的列

     sepal width (cm)  petal width (cm)
0                 3.5               0.2
1                 3.0               0.2
2                 3.2               0.2
3                 3.1               0.2
4                 3.6               0.2
..                ...               ...
145               3.0               2.3
146               2.5               1.9
147               3.0               2.0
148               3.4               2.3
149               3.0               1.8

[150 rows x 2 columns]

In [15]:
df.filter(regex='petal')

     petal length (cm)  petal width (cm)
0                  1.4               0.2
1                  1.4               0.2
2                  1.3               0.2
3                  1.5               0.2
4                  1.4               0.2
..                 ...               ...
145                5.2               2.3
146                5.0               1.9
147                5.2               2.0
148                5.4               2.3
149                5.1               1.8

[150 rows x 2 columns]

In [19]:
df.filter(regex='petal').apply(lambda x:2*x )

     petal length (cm)  petal width (cm)
0                  2.8               0.4
1                  2.8               0.4
2                  2.6               0.4
3                  3.0               0.4
4                  2.8               0.4
..                 ...               ...
145               10.4               4.6
146               10.0               3.8
147               10.4               4.0
148               10.8               4.6
149               10.2               3.6

[150 rows x 2 columns]